{% extends "base.html.twig" %}

{% block header %}
    {% include "/header.html.twig" %}
{% endblock %}

{% block window %}
    <p>THIS IS A DASHBOARD</p>
    
{% endblock window %}

{% block script %}
    
{% endblock script %}