<header id="topbar" class="bck-main-dark">
    <img src="public/medias/logowhite.svg" width="161px" height="43px" alt="scrapin logo">
    <div id="header-right">
        <div id="user-btn" class="btn-topbar">
            <div id="param-icn"></div>
            <p class="txt-white mp0 f-14">Username</p>
        </div>
        <div id="logout-btn" class="btn-topbar">
            <a href="./connexion">
                <div id="logout-icn"></div>
            </a>
        </div>
    </div>
</header>