input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: none !important;
  outline-style: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

input {
  box-shadow: none !important;
  outline-style: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.font-main {
  font-family: "Open Sans", sans-serif;
}

.font-sec {
  font-family: "Roboto", sans-serif;
}

.f-13 {
  font-size: 0.8125rem;
}

.f-14 {
  font-size: 0.875rem;
}

.f-15 {
  font-size: 0.9375rem;
}

.f-16 {
  font-size: 1rem;
}

.f-17 {
  font-size: 1.0625rem;
}

.f-18 {
  font-size: 1.125rem;
}

.f-19 {
  font-size: 1.1875rem;
}

.f-20 {
  font-size: 1.25rem;
}

.f-22 {
  font-size: 1.375rem;
}

.f-24 {
  font-size: 1.5rem;
}

.f-26 {
  font-size: 1.625rem;
}

.f-27 {
  font-size: 1.6875rem;
}

.f-regular {
  font-weight: 400;
}

.f-sbold {
  font-weight: 600;
}

.f-bold {
  font-weight: 700;
}

.f-black {
  font-weight: 900;
}

.f-it {
  font-style: italic;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.txt-main-dark {
  color: #2a3b49;
}

.bck-main-dark {
  background-color: #2a3b49;
}

.txt-main {
  color: #495867;
}

.bck-main {
  background-color: #495867;
}

body {
  color: #577399;
}

.txt-main-light {
  color: #577399;
}

.bck-main-light {
  background-color: #577399;
}

.txt-main-lighter {
  color: #bdd5ea;
}

.bck-main-lighter {
  background-color: #bdd5ea;
}

.txt-white-dark {
  color: #f7f7ff;
}

.bck-white-dark {
  background-color: #f7f7ff;
}

.txt-white {
  color: #ffffff;
}

.bck-white {
  background-color: #ffffff;
}

.txt-sec {
  color: #fe5f55;
}

.bck-sec {
  background-color: #fe5f55;
}

.txt-error {
  color: #ff0000;
}

.bck-error {
  background-color: #ff0000;
}

html {
  height: 100%;
}

body {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fe5f55;
}

li {
  list-style: none;
}

ul, menu {
  padding-left: 0px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
}

button {
  border: none;
  background: none;
}

.m0 {
  margin: 0;
}

.mp0 {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(300deg, #1e7399, #5773bd);
  color: #2a3b49;
}

#back-logo {
  position: fixed;
  top: -4px;
  left: 0px;
  background-position: contain;
  z-index: -1;
  opacity: 0.1;
}

.insc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#insc-window {
  position: relative;
  padding: 15px 40px;
  border-radius: 15px;
}
#insc-window input {
  border: none;
  background-color: #bdd5ea;
  border-radius: 5px;
  padding: 3px 6px;
  font-family: "Open Sans", sans-serif;
}
#insc-window .close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-image: url(../medias/close.svg);
}
#insc-window .close-button:hover {
  background-image: url(../medias/close-hover.svg);
}
#insc-window .close-button a {
  display: block;
  width: 100%;
  height: 100%;
}
#insc-window label {
  margin-bottom: 8px;
  margin-top: 14px;
  font-weight: bold;
}
#insc-window h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
#insc-window * {
  display: block;
  width: 100%;
}
#insc-window .signin-link {
  margin-top: 14px;
}

.insc-container > #topbar, .insc-container > #footbar {
  width: 100%;
  height: 7%;
  background-color: #2a3b49;
}

.login-button {
  margin: auto;
  background-color: #2a3b49;
  max-width: 45px;
  padding: 2px 10px;
  border-radius: 10px;
  margin-top: 22px;
  min-width: 100px;
}
.login-button:hover {
  cursor: pointer;
  background-color: #fe5f55;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  position: fixed;
  width: 100%;
}
#navbar #header-right {
  padding: 0 25px;
  display: flex;
}

.btn-topbar {
  border: 1px solid white;
  padding: 6px 10px;
  border-radius: 6px;
  line-height: 1.7;
  display: flex;
}
.btn-topbar a {
  width: 100%;
  height: 100%;
  display: flex;
}
.btn-topbar #param-icn {
  width: 25px;
  height: 25px;
  background-image: url(../medias/param.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.btn-topbar #logout-icn {
  width: 25px;
  height: 25px;
  background-image: url(../medias/logout.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.btn-topbar:hover {
  cursor: pointer;
  color: #fe5f55;
  background-color: white;
}
.btn-topbar:hover #logout-icn {
  background-image: url(../medias/logout-hover.svg);
}
.btn-topbar:hover #param-icn {
  background-image: url(../medias/param-hover.svg);
}
.btn-topbar:hover p {
  color: #fe5f55;
}

#user-btn {
  margin-right: 8px;
}

#main-container {
  padding-top: 60px;
  display: flex;
  height: 100%;
}

#scraplist-container {
  padding: 12px;
  width: 100%;
  max-width: 400px;
  max-height: 100%;
}

#scrapitems-container {
  max-height: 78%;
  overflow-y: scroll;
}

#scraplist-icn {
  margin-right: 20px;
}

#scraplist-title {
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scraplist-add-btn {
  border: 1px solid #fe5f55;
  padding: 6px 10px;
  border-radius: 6px;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scraplist-add-btn .plus-icn {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-image: url(../medias/plus.svg);
}
#scraplist-add-btn p {
  color: #fe5f55;
}
#scraplist-add-btn:hover {
  cursor: pointer;
  background-color: #fe5f55;
}
#scraplist-add-btn:hover p {
  color: white;
}
#scraplist-add-btn:hover .plus-icn {
  background-image: url(../medias/plus-hover.svg);
}

.scrapitem {
  color: #495867;
  position: relative;
  padding: 10px 10px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #f7f7ff;
  transition: ease-in-out 300ms;
}
.scrapitem .scrapitem-details {
  display: none;
}
.scrapitem .scrap-title {
  margin: 0px;
}
.scrapitem:hover:not(.selected) {
  cursor: pointer;
  border: 1px solid #495867;
}
.scrapitem.selected {
  padding: 10px 10px 20px 10px;
  color: #ffffff;
  background-color: #495867;
}
.scrapitem.selected .scrapitem-details {
  display: block;
}
.scrapitem.selected .scrap-title {
  margin-top: 0px;
  margin-bottom: 5px;
}

.scrap-number {
  margin: 0px;
  position: absolute;
  top: 10px;
  left: 12px;
}

.scrap-url {
  margin-top: 5px;
}
.scrap-url a {
  color: #bdd5ea;
}
.scrap-url a:hover {
  color: #fe5f55;
}

.scrapitem-options {
  display: flex;
  justify-content: center;
}

.option-btn {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px 3px;
}
.option-btn .option-label {
  display: none;
  color: white;
  font-size: 0.7rem;
  font-style: italic;
  margin: 0;
  width: 150px;
  text-align: center;
  position: absolute;
  left: -56px;
  top: 38px;
}
.option-btn:hover {
  cursor: pointer;
}
.option-btn:hover .option-label {
  display: block;
}

#option-collect {
  background-image: url(../medias/sc-download.svg);
}
#option-collect:hover:not(.selected) {
  background-image: url(../medias/sc-download-hover.svg);
}
#option-collect.selected {
  background-image: url(../medias/sc-download-selected.svg);
}

#option-see {
  background-image: url(../medias/sc-view.svg);
}
#option-see:hover:not(.selected) {
  background-image: url(../medias/sc-view-hover.svg);
}
#option-see.selected {
  background-image: url(../medias/sc-view-selected.svg);
}

#option-edit {
  background-image: url(../medias/sc-edit.svg);
}
#option-edit:hover:not(.selected) {
  background-image: url(../medias/sc-edit-hover.svg);
}
#option-edit.selected {
  background-image: url(../medias/sc-edit-selected.svg);
}

#option-save {
  background-image: url(../medias/sc-save.svg);
}
#option-save:hover:not(.selected) {
  background-image: url(../medias/sc-save-hover.svg);
}
#option-save.selected {
  background-image: url(../medias/sc-save-selected.svg);
}

#option-delete {
  background-image: url(../medias/sc-delete.svg);
}
#option-delete:hover:not(.selected) {
  background-image: url(../medias/sc-delete-hover.svg);
}
#option-delete.selected {
  background-image: url(../medias/sc-delete-selected.svg);
}

#right-window {
  width: 100%;
  padding: 12px;
}

#right-logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#insc-window .btn_flex {
  display: flex;
  justify-content: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.confirm-btn {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  padding: 6px 3px;
  max-width: 60px;
  margin: 0 6px;
}
.confirm-btn.yes-button {
  background-color: #fe5f55;
}
.confirm-btn.yes-button:hover {
  cursor: pointer;
  background-color: red;
}
.confirm-btn.no-button {
  background-color: #495867;
}
.confirm-btn.no-button:hover {
  cursor: pointer;
  background-color: #2a3b49;
}

#right-split-container {
  display: flex;
}
#right-split-container > * {
  width: 50%;
  padding: 10px 20px;
}
#right-split-container label {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
}
#right-split-container #params {
  border-radius: 12px;
  padding: 16px;
  background-color: #2a3b498e;
}
#right-split-container #params label {
  color: white;
}
#right-split-container #params select {
  display: block;
  width: 100%;
  border: 2px solid white;
  border-radius: 12px;
  height: 42px;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: white;
}
#right-split-container .element-box {
  position: relative;
  border-radius: 12px;
  padding: 16px;
  color: #495867;
}
#right-split-container .element-box select {
  display: block;
  width: 100%;
  border: 2px solid #495867;
  border-radius: 12px;
  height: 42px;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #495867;
}
#right-split-container label {
  margin-bottom: 6px;
  display: block;
}
#right-split-container input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 12px;
  height: 30px;
  padding: 0px 10px;
  background-color: #bdd5ea;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
}

.element-title-box {
  display: flex;
}
.element-title-box h2 {
  margin: 3px 0px 25px 12px;
}

#new-element-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bdd5ea;
  border: 2px dashed #bdd5ea;
  padding: 18px;
  margin: 15px 0px;
  border-radius: 12px;
}
#new-element-btn:hover {
  cursor: pointer;
  border: 2px dashed #fe5f55;
  color: #fe5f55;
  background-color: white;
}
#new-element-btn:hover #new-element-icon {
  background-image: url(../medias/newelement-hover.svg);
}
#new-element-btn p {
  margin: 0;
  font-weight: 600;
}
#new-element-btn #new-element-icon {
  width: 70px;
  height: 65px;
  background-image: url(../medias/newelement.svg);
  background-repeat: no-repeat;
  background-position-x: 3px;
  object-fit: cover;
}

.element-delete-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 35px;
  height: 35px;
  background-image: url(../medias/trash.svg);
  background-repeat: no-repeat;
  object-fit: cover;
}
.element-delete-btn:hover {
  cursor: pointer;
  background-image: url(../medias/trashhover.svg);
}

/*# sourceMappingURL=style.css.map */
