<div class="message-container">
    <div id="insc-window" class="bck-white-dark">
            <header>
                <h1 class="txt-sec f-it f-15 txt-center">Supprimer la collecte <BR> "Nom de la Collecte" ?</h1>
            </header>
            <div class="btn_flex">
                <p class="confirm-btn yes-button txt-center" onclick="delScrap({{ ID }})">OUI</p>
                <p class="confirm-btn no-button txt-center" onclick="see({{ ID }})">NON</p>
            </div>
    </div>
</div>