<div id="updown-container">
            <div id="right-split-container">
                <div class="left-col">
                    <div id="params">
                        <label for="colparam-name">Nom de la collecte</label>
                        <input id="colparam-name" type="text" placeholder="Entrez un nom">
                        <label for="colparam-url">URL</label>
                        <input id="colparam-url" type="text" placeholder="Entrez l'URL à collecter">
                        <label for="colparam-frequence">Fréquence de la collecte</label>
                        <select id="colparam-frequence" onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                            <option value="jour">Tous les jours</option>
                            <option value="semaine">Toutes les semaines</option>
                            <option value="mois">Tous les mois</option>
                        </select>
                        <label for="colparam-donnees">Type de données</label>
                        <select id="colparam-donnees" onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                            <option value="jour">Jeu de données</option>
                            <option value="semaine">Donnée unique</option>
                        </select>
                        <div class="edit-validate-box">
                            <p class="edit-validate-btn txt-center" onclick="validateEdit({{ ID }})">Valider les changements</p>
                        </div>
                    </div>
                    <div id="new-element-btn" onclick="newSelector({{ ID }})">
                        <div id="new-element-icon"></div>
                        <p>Ajoutez un element à cibler</p>
                    </div>
                </div>
                <div id="element-box-container" class="right-col scroller">
                    {% block scrapselector %}
                        {% include "/parts/scrapselector.html.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>