<div class="message-container">
    <div id="insc-window" class="bck-white-dark">
            <header>
                <h1 class="txt-sec f-it f-15 txt-center">Lancer la collecte manuellement ?</h1>
            </header>
            <div class="btn_flex">
                <p class="confirm-btn yes-button txt-center" onclick="launchScrap({{ ID }})">Lancer</p>
            </div>
    </div>
</div>