{% for date in Dates %}
    <div class="view-datebox" onclick="clickDateLine(this,{{ date.ID }})" data-id="{{ date.ID }}">
        <div class="datebox-delete-btn" onclick="delDateLine({{ date.ID }})"></div>
        <div class="view-datebox-line">
            <p class="view-datebox-date">{{ date.date }}</p>
            <div class="view-datebox-arrow"></div>
        </div>
        <div class="datebox-line-content">
            {% block scrapsingle %}
                {% include "/parts/scrapsingle.html.twig" %}
            {% endblock %}
        </div>
    </div>
{% endfor %}

