{% for element in Elements %}   
    <div class="scrap-element">
        <p class="element-title">{{ element.name }}</p>
        <p class="element-value">{{ element.data }}</p>
    </div>
{% endfor %}