<div class="view-datebox selected">
    <div class="datebox-delete-btn"></div>
    <div class="view-datebox-line">
        <p class="view-datebox-date">Le 28 Février 2021</p>
        <div class="view-datebox-arrow"></div>
    </div>
    <div class="datebox-line-content">
        {% block scrapsingle %}
            {% include "/parts/scrapsingle.html.twig" %}
        {% endblock %}
    </div>
</div>