<div id="scrap-view-window">
            <div id="scrap-view-title-box">
                <img id="scrap-view-icn" src="public/medias/view.svg" width="35px" height="35px" >
                <div class="view-datebox-line">
                    <h2 id="scrap-view-title">Visualiser "Nom de la collecte"</h2>
                    <p id="scrap-view-url">https://www.nomdusite.fr</p>
                </div>
            </div>
            <div id="scrap-view-window-inner">
                <div class="view-datebox selected">
                    <div class="datebox-delete-btn"></div>
                    <div class="view-datebox-line">
                        <p class="view-datebox-date">Le 28 Février 2021</p>
                        <div class="view-datebox-arrow"></div>
                    </div>
                    <div class="datebox-line-content">
                        <div class="scrap-unit-box">
                            <div class="scrap-unit-delete-btn"></div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi libero eligendi quod molestias. Est, qui debitis ipsam facere voluptates obcaecati sint soluta reiciendis nisi, nostrum mollitia provident veritatis magni eius!</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="scrap-unit-box">
                            <div class="scrap-unit-delete-btn"></div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi libero eligendi quod molestias. Est, qui debitis ipsam facere voluptates obcaecati sint soluta reiciendis nisi, nostrum mollitia provident veritatis magni eius!</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="scrap-unit-box">
                            <div class="scrap-unit-delete-btn"></div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi libero eligendi quod molestias. Est, qui debitis ipsam facere voluptates obcaecati sint soluta reiciendis nisi, nostrum mollitia provident veritatis magni eius!</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="scrap-unit-box">
                            <div class="scrap-unit-delete-btn"></div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi libero eligendi quod molestias. Est, qui debitis ipsam facere voluptates obcaecati sint soluta reiciendis nisi, nostrum mollitia provident veritatis magni eius!</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="scrap-element">
                                <p class="element-title">Element 1</p>
                                <p class="element-value">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-datebox">
                    <div class="datebox-delete-btn"></div>
                    <div class="view-datebox-line">
                        <p class="view-datebox-date">Le 27 Février 2021</p>
                        <div class="view-datebox-arrow"></div>
                    </div>
                    <div class="datebox-line-content">
                        <h2>hello</h2>
                    </div>
                </div>
                <div class="view-datebox">
                    <div class="datebox-delete-btn"></div>
                    <div class="view-datebox-line">
                        <p class="view-datebox-date">Le 26 Février 2021</p>
                        <div class="view-datebox-arrow"></div>
                    </div>
                    <div class="datebox-line-content">
                        <h2>hello</h2>
                    </div>
                </div>
            </div>
        </div>